*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* defining rem 16/10*/
    height:100%;
}

body {
    height:100%;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

@import 'variables/var';

@import 'components/nav';

@import 'pages/home';
@import 'pages/about';