*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* defining rem 16/10*/
    height:100%;
}

body {
    height:100%;
    box-sizing: border-box;
}

.base {
    padding: 3rem;
    min-height: 100vh;
    @media only screen and (max-width: 600px){
        padding: 2rem;
    }
}


.centered-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    max-width: 90vw;
}

.fixed-img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
}



@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway&display=swap');
@import url("https://fonts.googleapis.com/css?family=Fredoka+One&display=swap");

@import 'variables/var';
@import 'variables/triangles';

@import 'components/nav';

@import 'pages/home';
@import 'pages/about';
@import 'pages/work';
@import 'pages/worktwo';
@import 'pages/contact';