.about{
  &__bloc {
    background-image: linear-gradient(#060414, #503183);
    min-height: 100vh;
    padding: 3rem 3rem 50vh;
    position: relative;
    transform: .5s;
    @media only screen and (max-width: 800px) {
      padding: 3rem 3rem 40vh;
    
  }
    @media only screen and (max-width: 599px) {
      padding: 3rem 3rem 30vh;
    }
    
  }
  &__content{
    margin: 20% 10%;
    font-family: $raleway;
    &--title{
      font-size: 4rem;
      margin-bottom: 2.4rem;
      color: $color-action;
    }
    p{
      font-size: 1.6rem;
    margin-bottom: 1rem;
    color: $color-text;
    }
    &--company{
      font-size: 1.6rem;
      color: $color-text;
      margin-bottom: 1rem;
      span{
        margin-left: 12px;
        color:(rgba($color-text,.5));
      }
    }
    &--position{
      font-size: 1.6rem;
      color: $color-text;
      font-weight: medium;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    &--text{
      font-size: 1.6rem;
    margin-bottom: 4rem;
    color: $color-text;
    }
  }
  &__cv{
    margin: 20% 10%;
    font-family: $raleway;
  }
}




.title {
  margin: 10vh 0 0 0;
  display: flex;
  justify-content: center;
}

.title__txt b {
  letter-spacing: 0.08em;
  font: 4.618em "Fredoka One", "PT Mono", sans-serif;
  color: rgb(255, 161, 193);
  text-shadow: 0 5px 30px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ea1059,
    0 0 0.1em #ea1059, 0 10px 3px #000;
  transition: .5s;
}

@media only screen and (max-width: 600px) {
  .title__txt b {
    letter-spacing: 0.06em;
    font-size: 3.618em;
  }
}

.title__txt b .blink {
  animation: blink linear infinite 8s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }

  79% {
    color: #333;
  }

  80% {
    text-shadow: none;
  }

  81% {
    color: inherit;
    text-shadow: inherit;
  }

  82% {
    color: #333;
    text-shadow: none;
  }

  83% {
    color: inherit;
    text-shadow: inherit;
  }

  92% {
    color: #333;
    text-shadow: none;
  }

  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/* .title__txt b .blinkless {
    animation: blinkless linear infinite 3s;
  } */
@keyframes blinkless {
  34% {
    color: inherit;
    text-shadow: inherit;
  }

  35% {
    color: #333;
  }

  36% {
    text-shadow: none;
  }

  37% {
    color: inherit;
    text-shadow: inherit;
  }
}

.blinklittle {
  animation: blinklittle linear infinite 5s;
}

@keyframes blinklittle {
  56% {
    color: inherit;
    text-shadow: inherit;
  }

  57% {
    color: #333;
  }

  58% {
    text-shadow: none;
  }

  59% {
    color: inherit;
    text-shadow: inherit;
  }
}

.content {
  color: rgba(255, 255, 255, 0.6);
  font-family: $raleway;
  
  font-size: 1.6rem;
  margin: 20% 10% 4rem;
  text-align: center;
  @media (min-width: 600px) and (max-width: 800px) {
    margin: 20% 0 4rem;
  }
  @media only screen and (max-width: 600px) {
    margin: 20% 0 4rem;
  
}
&__center{
  margin: 0 auto;
  max-width: 800px;
}
}



.content p {
  line-height: 1.2em;
  transition: .5s;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: left;

}

@media only screen and (max-width: 800px) {
  .content p {
    width: 100%;
  }
}

.contact {
  display: flex;
  justify-content: center;

  &__button {
    border-radius: 3.618em;
    border: 0px #f06c98 solid;
    -webkit-box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1);
    -moz-box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1);
    box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1);
    -webkit-z-index: 3;
    -moz-z-index: 3;
    -ms-z-index: 3;
    -o-z-index: 3;
    z-index: 3;
  }

  &__buttonalt {
    cursor: pointer;
    padding: 0.618em;
    border-radius: 0.618em;
    border: 8px #f06c98 solid;
    -webkit-box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1) inset;
    -moz-box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1) inset;
    box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1) inset;
    letter-spacing: 0.15em;
    font: 4.618em "Fredoka One", "PT Mono", sans-serif;
    color: #f06c98;
    text-shadow: 0 5px 30px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ea1059,
      0 0 0.1em #ea1059, 0 10px 3px #000;
    transition: border 1s, color 1.5s, font-size .5s;
    z-index: 3;
    text-align: center;

    &:hover {
      cursor: pointer;
      border: 8px #fbd0eb solid;
      -webkit-box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1) inset;
      -moz-box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1) inset;
      box-shadow: -1px -1px 14px 3px rgba(234, 16, 89, 1) inset;
      letter-spacing: 0.15em;
      font: 4.618em "Fredoka One", "PT Mono", sans-serif;
      color: #fbd0eb;
      text-shadow: 0 5px 30px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ea1059,
        0 0 0.1em #ea1059, 0 10px 3px #000;
    }

    @media only screen and (max-width: 800px) {
      .contact__buttonalt:hover {
        font-size: 4em;
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .contact__buttonalt {
      font-size: 4em;
      text-align: center;
    }
  }

  //   &-col{
  //     margin-top: 2rem;
  //     display: grid;
  //     grid-template-columns: 1fr 1fr;
  // grid-template-rows: 1fr;
  // grid-column-gap: 20px;
  // grid-row-gap: 20px;
  // justify-items: stretch;
  // align-items: center;
  //   }
}

.palm {
  position: absolute;
  bottom: 0;

  &__left {
    left: 5vw;
    transition: .5s;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    @media (min-width: 600px) and (max-width: 800px) {
      width: 30%;
    }
    @media only screen and (max-width: 599px) {
      width: 30vw;
    }
  }

  &__right {
    right: 5vw;
    transition: .5s;
    @media (min-width: 600px) and (max-width: 800px) {
      width: 30%;
    }
    @media only screen and (max-width: 599px) {
      width: 30vw;
    }
  }
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: .5s;
}

@media only screen and (max-width: 800px) {
  a {
    width: auto;
  }
}