.triangle {
    position: absolute;
    opacity: .5;

    &-big {
        top: 20%;
        left: 30%;
        width: 40vw;
        animation: slowrotate 40s infinite;
        @media only screen and (max-width: 600px){
            width: 70vw;
            left: 20%;
        }
    }

    &-1 {
        top: 5%;
        left: 20%;
        width: 10vw;
        animation: slowrotate 30s infinite 2s;
        @media only screen and (max-width: 600px){
            width: 30vw;
        }
    }

    &-2 {
        top: 30%;
        right: 25%;
        height: 25vh;
        animation: slowrotate 30s infinite 10s;
    }

    &-3 {
        top: 50%;
        left: 35%;
        height: 25vh;
        animation: slowrotate 30s infinite 15s;
    }

    &-4 {
        top: 68%;
        right: 25%;
        width: 10vw;
        animation: slowrotate 30s infinite;
        @media only screen and (max-width: 600px){
            width: 40vw;
        }
    }

    &-5 {
        top: 74%;
        left: 25%;
        height: 20vh;
        animation: slowrotate 30s infinite 10s;
    }
}

@keyframes slowrotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(20deg);
    }
}