$color-action: #ea1059;
$color-text: rgba(255,255,255,.8);

$font-base: 2.4rem;
$font-nav: 3.2rem;
$font-title: 6.2rem;

$raleway: 'Raleway', helvetica, sans-serif;
$marker: 'Permanent Marker', cursive;