.nav {
    display: flex;
    justify-content: space-between;

    &--left{
        color: $color-action;
        text-decoration: none;
        font-size: $font-nav;
        font-family: $marker;
        text-transform: uppercase;
        // transform:translate(0,0);
        span{
            animation: scaling 4s ease;
        }
        &:hover{
            animation: glitch 2.2s infinite alternate;
        }
        
    }
    &--item {
        color: rgba($color-action, .5);
        text-decoration: none;
        margin-left: 3rem;
        font-size: 2rem;
        font-family: $marker;
        text-transform: uppercase;
        // animation: scaling 1s ease-in;

        &:hover{
            color: rgba($color-action, 1);
            animation: glitch 2.2s infinite alternate;
        }
    }

    &--flex {
        display: flex;
        align-items: center;
    }
    &--is-active{
    
            color:$color-action;
        
        
    }
}

@keyframes scaling { 
    0% { 
        opacity: 0; transform:scale(0); 
    } 100% { 
        opacity: 1; transform:scale(1);
}}